<div [formGroup]="form">


  <div *ngIf="material">
    <md-input-container class="example-full-width show" *ngIf="field.type!='submit'">
      <input [type]="field.type"   *ngIf="field.controlType=='textbox' && field.type!='textarea'"  [formControlName]="field.key" [id]="field.key" mdInput [placeholder]="field.label">


       <textarea [type]="field.type"   *ngIf="field.controlType=='textbox'  && field.type=='textarea'" [formControlName]="field.key" [id]="field.key" mdInput [placeholder]="field.label" [attr.rows]="field.rows"></textarea>

       
    </md-input-container>
   
    <button *ngIf="field.controlType=='textbox'  && field.type=='submit'"  [disabled]="processing" md-raised-button type="submit" class="pull-right" [color]="theme">
                    {{field.label}}
                  
      </button>
  </div>
  <div [@itemEnter]="form.controls[field.key].touched && !form.controls[field.key].valid?'active':'hidden'" class="errorMessage" *ngIf="form.controls[field.key].touched && !form.controls[field.key].valid">
    {{field.label}} is required.
  </div>
  
</div>